---
import { Image } from 'astro:assets'
import aboutHero from '@/assets/about-hero.jpeg'
---

<section class='h-[90vh] md:h-[80vh] overflow-hidden'>
  <Image
    src={aboutHero}
    alt='About Hero Image'
    loading='eager'
    decoding='sync'
    widths={[850, 1275, 2550]}
    sizes={`(max-width: 1275px) 850px, (max-width: 2550px) 1275px, 2550px`}
    class='w-full h-full object-bottom object-cover absolute inset-0 z-0 animate-smooth-enter-top'
  />
  <div class='hero-backdrop'></div>
  <div class='bottom-fade'></div>
  <div
    class='relative flex flex-col items-center z-10 animate-smooth-enter-bottom w-full px-4'
  >
    <h1 class='mt-12 text-4xl lg:text-7xl text-center'>
      Our philosophy & values
    </h1>
  </div>
</section>

<style>
  .hero-backdrop {
    @apply absolute inset-0 z-10;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(2, 2, 9, 0) 0%,
      rgba(2, 2, 9, 0.87) 100%
    );
  }
  .bottom-fade {
    @apply absolute inset-x-0 bottom-0 z-10 h-24;
    background: linear-gradient(
      180deg,
      rgba(2, 2, 9, 0) 0%,
      theme('colors.rich-black') 100%
    );
  }
</style>
