---
import { Image } from 'astro:assets'
import aboutHero from '@/assets/about-hero.jpeg'
---

<div class='h-[90vh] md:h-[80vh]'>
  <div
    class='absolute inset-0 flex justify-center pt-24 md:pt-20 lg:pt-32 xl:pt-52 px-4'
  >
    <Image
      src={aboutHero}
      width={aboutHero.width}
      height={aboutHero.height}
      alt='About Hero Image'
      class='w-screen h-screen object-bottom object-cover absolute inset-0 z-0 animate-smooth-enter-top'
    />
    <div class='hero-backdrop'></div>
    <div class='bottom-fade'></div>
    <div
      class='relative flex flex-col items-center z-10 animate-smooth-enter-bottom w-full px-4'
    >
      <h1 class='text-4xl md:text-7xl text-center'>Our philosophy & values</h1>
    </div>
  </div>
</div>

<style>
  .hero-backdrop {
    @apply absolute inset-0 z-10;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(2, 2, 9, 0) 0%,
      rgba(2, 2, 9, 0.87) 100%
    );
  }
  .bottom-fade {
    @apply absolute inset-x-0 bottom-0 z-10 h-24;
    background: linear-gradient(
      180deg,
      rgba(2, 2, 9, 0) 0%,
      theme('colors.rich-black') 100%
    );
  }
</style>
