---
import { DISCORD_URL, DISCORD_MEMBERS } from '@/config'
import member1 from '@/assets/discord-avatars/member-1.webp'
import member2 from '@/assets/discord-avatars/member-2.webp'
import member3 from '@/assets/discord-avatars/member-3.webp'
import member4 from '@/assets/discord-avatars/member-4.webp'
import member5 from '@/assets/discord-avatars/member-5.webp'
import member6 from '@/assets/discord-avatars/member-6.webp'

const members = [member1, member2, member3, member4, member5, member6]
---

<div class='flex flex-col items-center gap-4 lg:gap-12 py-8 px-4'>
  <h3 class='text-3xl lg:text-5xl text-center'>Become a creature</h3>
  <div class='flex flex-col items-center gap-5 py-4'>
    <a
      href={DISCORD_URL}
      rel='external nofollow'
      class='bg-discord hover:bg-discord-hover py-4 lg:py-8 max-lg:w-full lg:px-48 text-xl lg:text-3xl font-heading text-center button shadow-hero-cta'
      >Discord</a
    >
    <div class='flex items-center gap-2'>
      <div class='flex pl-2'>
        {
          members.map((member) => (
            <img src={member} class='w-10 h-10 -ml-2 rounded-full' />
          ))
        }
      </div>
      <p class='text-lg'>+{DISCORD_MEMBERS}</p>
    </div>
  </div>
</div>
