---
import { GITHUB_URL } from '@/config'
---

<header class='blurry w-full md:px-4 z-50 sticky top-0' transition:persist>
  <div
    class='container mx-auto flex max-md:flex-col max-md:items-center max-md:gap-4 md:justify-between py-3 md:py-6'
  >
    <a class='logo-gradient font-heading text-2xl w-[150px]' href='/'
      >creatures.dev</a
    >
    <nav class='flex items-center gap-8'>
      <a class='hover:underline' href='/about'>About</a>
      <a class='hover:underline' href='/blog'>Blog</a>
      <a class='hover:underline' href={GITHUB_URL} rel='external nofollow'
        >GitHub</a
      >
    </nav>
    <span class='max-md:hidden w-[150px]'>
      <!-- placeholder for centering the nav -->
    </span>
  </div>
</header>

<style>
  .blurry {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
  }
</style>
