---
import { twMerge } from 'tailwind-merge'
import { Image } from 'astro:assets'
import { CONTRIBUTE_DOC_URL } from '@/config'
import Panel from '@/components/panel.astro'
import creature from '@/assets/contribute-banner-creature.jpg'

type Props = {
  class?: string
}

const { class: className = '' } = Astro.props
---

<Panel
  class={twMerge(
    className,
    'flex max-sm:flex-col items-center gap-6 sm:gap-8 sm:pr-6 max-sm:pb-8',
  )}
  size='md'
>
  <div class='relative max-sm:w-full sm:h-24 aspect-video overflow-hidden'>
    <Image
      src={creature}
      alt='An image of a creature from creatures.dev'
      class='w-full h-full absolute inset-0 object-cover object-bottom'
    />
    <div
      class='absolute inset-0 hidden sm:block bg-gradient-to-r from-transparent via-transparent to-panel'
    >
    </div>
  </div>
  <h3
    class='max-sm:px-4 max-sm:text-center flex-1 text-2xl sm:text-xl lg:text-3xl'
  >
    Want to <span class='text-link font-heading'>publish</span> your own article?
  </h3>
  <a href={CONTRIBUTE_DOC_URL} rel='external nofollow' class='button bg-link px-8 py-3'
    >Learn how</a
  >
</Panel>

